.sidebar_component {
    margin: auto;
    margin-top: 20px;
    padding: 7px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    background: lightslategray;
    position: relative;
}

.sidebar_component h2 {
    margin-top: 10px;
    color: black;
}

.sidebar_component p {}

.nobullets {
    padding-left: 0;
    list-style-type: none;
    columns: 2;
}

.checkbox label {
    text-align: left;
    word-break: break-word;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 5px;
}

.checkbox input {}

.sidebar_option_text {
    margin: 0;
}

.checkbox ul li label {
    display: flex;
    align-items: center;
}