.sidebar {
    background: #3874cb;
    width: 300px;
    border: 0;
    padding: 15px;
    height: 94.6vh;
    color: #ffffff;
}

.sidebar-component {
    padding: 20px 0px 0px 0px;
}

.sidebar-component-top {
    padding: 0px;
}