.sidebar {
    background: #3874CB;
    width: 300px;
    height: 94vh;
    border: 0;
    padding: 10px;
}

.sidebar_component {
    background: #6895D7;
    padding: 10px;
}

.sidebar_component h5 {
    color: white;
}