.Header {
    width: 100%;
    position: sticky;
    z-index: 2;
    background-color: #bebebe;
    margin: 0;
    display: table;
}

#logo {
    size: 10%;
    display: table-cell;
    width: 10%;
}

.Header div ul {
    list-style: none;
}

.Header ul li {
    display: inline-block;
}

.Header div {
    position: relative;
    border-style: solid;
    display: table-cell;
}

.RightHeader {
    align-items: right;
    width: 30%;
}

.LeftHeader {
    align-items: left;
    width: auto;
}