.SearchResultStyle h1 {
    color: royalblue;
    font-size: 2em;
    margin-top: 5vh;
}

.SearchResultStyle p {
    color: royalblue;
}

.LiStyle {
    list-style: none;
    padding-left: 0rem;
}

.PageViewerStyle {
    list-style: none;
    display: inline-block;
}